{%extends 'base.html'%}
{%block main%}

<form method="post">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input name="email" type="email" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name="pwd" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-dark">Log in</button>
</form>

{%endblock%}