{%extends "base.html"%}
{%block main%}
<!-- <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form> -->
{% with messages = get_flashed_messages() %}
{%for msg in messages%}
<div class="alert alert-success position-absolute top-0 mt-5" role="alert">
  {{msg}}
</div>
{%endfor%}
<form action="" method="post"> 
    <label for="">Descripción del ticket:</label>
    <input name="description" type="text" required>
    <button type="submit">Enviar descripción</button>
</form>
{%endwith%}
<h1>XXXX</h1>
{%endblock%}